        <div class="container">
        <div class="row">
        <div class="col-4">
        <!--<img src="images/thinker-phone-small.jpg" class="img-fluid"> -->
        </div>
        <div class="col-8">
        <p class="lead">How can we navigate the ethical challenges of digital technology?</p>

        <p><b>Course Summary.</b>
          Self-quantification is ubiquitous. From smart watches that track biometrics and sleep quality to productivity trackers which tell us how we actually spend our time, modern digital technologies provide us with the tools to observe, measure and collect data about ourselves at great levels of detail. But does this data really help us understand ourselves better? Is the kind of knowledge those technologies offer worth having? Does a quantified self lead to a happier self? In this course, we will explore self-quantification through a range of philosophical perspectives and debates from ethics and political philosophy to epistemology.
          <br>
          In this course, you will learn:

        <ul>
          <li>to use ideas and concepts from ethics, political philosophy and epistemology to understand and judge contemporary technological phenomena and developments;
          <li>to engage with philosophical papers critically and closely scrutinize their arguments, both orally and in writing;
          <li>to develop a philosophical research question of your own and write a thoroughly argued critique of self-quantification technology.
        </ul>

        <p><b>Enrollment.</b> PHIL 1485 is a 1000-level class and is only recommended for students who have taken at least one philosophy class before.</p>

        <!--<h4>Announcements</h4>

        <div class="alert alert-info" role="alert">
        </div>-->

        <h4>Logistics</h4>
        <ul>
          <li><b>Instructor:</b> <a href="/">Julia Netter</a> (<code>julia_netter@brown.edu</code>).
          <li><b>Time:</b> MWF, 12-12:50pm
          <li><b>Room:</b> Sharpe House 125
         <li><b>Office hours:</b> <a href="https://calendar.google.com/calendar/u/0/selfsched?sstoken=UUdBbWFBc3BMQjBafGRlZmF1bHR8ZTI1ZjBlNDY4OGNjYTljOWFlYTQyNTFhZDY2YTYzYmQ">Monday, noon-1pm, Friday, 11am-noon,</a> Arnold Lab 309, 91 Waterman St 


          <li><a href="syllabus.html">Syllabus</a> <!--&ndash; <a href="syllabus.html">Syllabus--></a>
        </ul>
</div>
</div>
</div>

        <!--<h4>Links</h4>
        <ul>
          <li>Prior CSCI 2390 offering:
              <a href="/courses/csci2390/2020">Fall 2020</a>,
              <a href="/courses/csci2390/2019">Fall 2019</a>.
          <li><a href="http://cs.brown.edu/courses/csci1380/s19/">CSCI 1380: Distributed Computer Systems</a> and MIT's <a href="http://nil.csail.mit.edu/6.824/2018/">6.824: Distributed Systems Engineering</a>.
          <li>MIT's <a href="http://nil.lcs.mit.edu/6.S974/">6.S974: Decentralized Applications</a>.
        </ul>-->

