    <nav class="navbar navbar-expand-md navbar-dark fixed-top">
      <a class="navbar-brand" href="index.html"><b>PHIL 401</b><span class="d-none d-lg-inline">: Ethics of Digital Technology</span></a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarCollapse">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item {{{index_ACTIVE}}}">
            <a class="nav-link" href="{{{ROOT}}}index.html">Home</a>
          </li>
          <li class="nav-item {{{schedule_ACTIVE}}}">
            <a class="nav-link" href="{{{ROOT}}}schedule.html">Schedule</a>
          </li>
          <li class="nav-item {{{assign_ACTIVE}}}">
            <a class="nav-link" href="{{{ROOT}}}syllabus.html">Syllabus</a>
          </li> 
                   <!-- <li class="nav-item {{{projects_ACTIVE}}}">
            <a class="nav-link" href="{{{ROOT}}}projects.html">Comments</a>
          </li>-->
          <!--  <li class="nav-item">
            <a class="nav-link" href="http://phil401-submit.julianetter.de/">Submission</a>
          </li> -->
        </ul>
        <ul class="navbar-nav navbar-right d-none d-md-inline">
          <li><a><b>Fall 2023</b></a></li>
        </ul>
      </div>
    </nav>
