<h2>Syllabus</h2>

<table class="table table-striped table-bordered">
  <tr>
    <td>Meetings</td>
    <td> 10-10:50am on Mondays, Wednesdays, and Fridays</td>
  </tr>
  <tr>
    <td>Room</td>
    <td>List Art Center 110</td>
  </tr>
  <tr>
    <td>Prerequisites</td>
    <td>none</td>
  </tr>
  <tr>
    <td>Instructor</td>
    <td><a href="/">Julia Netter</a> (julia_netter@brown.edu)</td>
  </tr>
  <tr>
    <td>Office Hours</td>
    <td>Monday, noon-1pm, Friday, 11am-noon, Arnold Lab 309 (91 Waterman St) <br>
    Please sign up <a href="https://calendar.google.com/calendar/u/0/selfsched?sstoken=UUdBbWFBc3BMQjBafGRlZmF1bHR8ZTI1ZjBlNDY4OGNjYTljOWFlYTQyNTFhZDY2YTYzYmQ">here</a> for an appointment slot.</td>
  </tr>
  <tr>
    <td>Assignments</td>
    <td>Two short papers with colloquium, one longer final (writing) project and presentation.</td>
  </tr>
  <!--  <tr>
  <td>Incompletes</td>
    <td>I expect everyone to complete the course on time. However, I
    certainly understand that there may be factors beyond your control,
    such as health problems and family crises, that prevent you from
    finishing the course on time. If you feel you cannot complete the
    course on time, please discuss with Malte Schwarzkopf the
    possibility of being given a grade of Incomplete for the course and
    setting a schedule for completing the course in the upcoming year.</td>
  </tr>-->
  <tr>
    <td>Late Policy</td>
    <td>Three late days (in total) for short papers and final project;
    exceptions for late work beyond the late days will only be made for legitimate reasons and in exceptional
    circumstances.</td>
  </tr>
  <tr>
    <td>Grading</td>
    <td>Weekly reflection and response assignments: 15%; Participation: 15%; Short papers: 20%+20%; Final project: 30%.
    </td>
  </tr>
  <tr>
    <td>Course Time</td>
    <td>Students will spend approximately 3 hours per week in class (40 hours total), and 3-4 hours preparing readings and writing weekly reflections and responses (42-56 hours
    total).
    Working on the two short papers and the final project will take on the order of 7-9
    hours per week (98-126 hours total).</td>
  </tr>
</table>

<br/>
<br/>

<h2>Course Details</h2>

<ul class="list-unstyled">
  <li><a href="#desc">Learning Objectives</a>
  <li><a href="#req">Course structure</a>
  <li><a href="#grading">Grading</a>
  <li><a href="#pol">Policies</a>
</ul>

<h4>Learning objectives</h4>
<a name="desc">

<p>This course will introduce you to key ethical debates in the area of digital technology. As such, you will learn about the key debates on a range of issues from artificial intelligence to digital privacy that equip you with the knowledge to delve deeper into these topics and connect them to each other, as well as debates on technological developments beyond the classroom.

<p>Importantly, this course will help you learn to think philosophically about these topics. You will develop the skills necessary to construct rigorous critical arguments, and will apply them 
both orally and in writing. Developing those arguments requires you to think and write both creatively and precisely, and to engage with critical challenges and feedback. The course is structured 
to help you improve these skills: you will write regularly and on a wide array of topics, engage with and respond to your peers’ critiques. By the end of the semester, you will have written two 
thoroughly-argued short papers and completed one longer writing-project on a topic you may choose from several options.</p>


<h4>Course structure</h4>
<a name="req">

<p>We will (for the most part) look at one topic each week. While each of the sessions will mainly focus on the specific dimensions raised in the text or texts assigned to that session, all the sessions of the week are usually intertwined. 
You should therefore have read all of the texts assigned for each session before class, and you should feel free to read all of the texts assigned for each week before the first session of the week.  
All the assigned texts will be available on Canvas or, if they are available as an ebook, a link will be provided on the course schedule page. </p>

<h5>Reflections and responses (15%)</h5>
<p>This course requires you to read, write, and comment on philosophical ideas. As such, each week you will:
<ul>
  <li>1. read assigned readings; and
  <li>2a. write a short reflection; and
  <li>2b. respond to the reflections of other classmates.
</ul>
</p>

<p>Every week, you will write a short critical reflection (around 500 words) on the readings assigned for the week or on a related activity. The prompt for each week's reflection will be released on Canvas ahead of time.  In addition to your reflection, you will also submit one question every week. The question can be based on your reflection, focus on a different aspect in the reading material or more generally related to topic of the upcoming session. Your reflection is due by <b>6 pm on Sunday</b> each week.</p>
<p>Every week, you will also write a brief but polished response (around 300 words) to one of your classmate’s reflections, which will be assigned to you. The responses should engage with the core idea or argument advanced in the reflection. They may also offer critical feedback to the writer. Just like discussions in class, all critical feedback should be in good 
faith, courteous, and constructive. The comments  are due by <b>6 pm on Wednesday</b> each week.</p>

<p>Reflections and responses are graded for completion: you will get full credit for each comment and response as long as they reflect a reasonable attempt to engage with the prompt, assigned texts or your classmates' reflections.</p>

<h5>Two short papers (20%+20%) and colloquium</h5>
<p>You will write two short papers of around 1,500 to 2,000 words.</p>

<p>It is important that your paper focuses on answering the question in the prompt, and for it to defend your position by offering a well-structured argument that anticipates potential objections and engages with them. Given the brevity of these essays, I do not expect your discussion be exhaustive. A very good essay demonstrates that you understand the structure and substance of the arguments you invoke, as well as their limitations, and the extent to which they support a particular view. We will talk about what makes a good essay in one of our first sessions.

You will also be asked to discuss <b>one</b> of your short papers with me in after you have submitted it. In this 15 minute "colloquium", we will explore your arguments together and you will also receive more detailed feedback for how to improve your argumentative and writing skills for the next assignment. The colloquium accounts for 5% out of the 20% of the overall grade which is assigned to the respective paper (with 15% being accounted for by the written paper). There's no need to worry even if you don't yet feel confident in expressing your ideas on the spot. You have thought through and written about everything that may come up in the colloquium and we will use your paper as a guide for the conversation. We will talk in more depth about this aspect of the course in more detail early in the semester. 
</p>

<h5>Final project (30%)</h5>
<p>For your final project, you will work on a writing project of 3,000-3,500 words. Unlike the short papers, the format of the final project will look beyond the classic philosophical essay and leave more room for creative expression. That said, it still requires you to apply the rigorous argumentative skills you trained in the short papers and weekly comments and responses. We will talk about the details of this assignment in class, and will also spend ample time in person throughout the semester preparing it.
</p>

<!--<p>You should choose a question that lends itself to a substantive normative argument. However, unlike in the short essays, the topic is relatively unconstrained. It should relate to one or several topics we discussed in class, and I encourage you to look beyond the abstract, technical debates in the literature to search for interesting questions, puzzles, or problems in your everyday life. Ethics and political philosophy are driven by the clashes of ideas, ideals, and values that we encounter in society and the political sphere. In the long paper, I want you to show that you can relate the debates you encounter in this class to a new question, and that you can make a rigorous argument advocating a philosophical position on that question. In our first session and throughout the course, we will talk about how to identify philosophical questions as you go through your everyday life and about what makes a good question for a seminar paper.</p> -->

<h5>Participation (15%)</h5>
<p>This is a lecture course but it will nevertheless be interactive, so please be prepared to get involved in the discussion. The Friday sessions will typically be dedicated workshop and discussion sessions and your active participation is expected in those, but there will also be ample room for conversation in the lecture sessions on Monday and Wednesday.</p>

<p>One note on the culture of debate which I would like to foster in this course: discussions in philosophy are not about winning an intellectual battle, but about engaging with others’ views on their merits. They are also about taking intellectual risks, putting forward a potentially controversial argument, as well as receiving and offering constructive criticism. This is only possible in a class environment in which we build trust. In class, I therefore expect us all to treat each other courteously, engage with each other’s arguments constructively and in good faith no matter the topic.</p>


<h4>Time Commitment</h4>
<a name="req">

<p>You can expect to spend approximately 3 hours per week in class (40 hours total), and
around 3-4 hours preparing readings, as well as writing reflections and responses (42-56 hours total).
Short papers and the final project will take around 98-126 hours in
total throughout the semester.</p>

<h4>Policies</h4>
<a name="pol">

<h5>Late Policy</h5>
<p>You can use a budget of three late days in total for the short papers and the final paper. The purpose of these late days is to provide you with some flexibility for unexpected situations in which you find yourself unable to complete an assignment on time (e.g., coinciding deadlines, extracurricular commitments, etc.). For those situations, I normally expect you to use your late days, rather than asking for an extension, so make sure to use them judiciously.  

<p> I expect you to attend every session, but let me know if you have any special
requirements. For sickness and other issues of wellbeing, please obtain a Dean's note
and I will accommodate them.</p>

<p>The course will involve substantial <em>reading</em> for each meeting, and you will need to
stay on top of the assigned readings to keep up, as we quickly move between topics. However, the texts we read are relatively standalone, so finding one paper difficult to read will not
disadvantage you going forward.</p>

<p><em>Reflections and responses</em> are due at <b>6pm</b> (EST) on Sunday and Wednesday respectively,
and owing to the small amount of credit they contribute individually, there will be no late submission.
If you do encounter particular, unexpected hardships however, please send me an email.</p>

<h5>Accommodations</h5>
<p>Brown University is committed to full inclusion of all students.  Please inform me if you have
a disability or other condition that might require accommodations or modification of any of
these course procedures. You may email me, come to office hours, or speak with me after class,
and your confidentiality is respected. I will do whatever we can to support accommodations
recommended by SEAS. For more information contact Student and Employee Accessibility Services
(SEAS) at 401-863-9588 or SEAS@brown.edu.</p>

<h5>Mental Health</h5>
<p>Being a student can be very stressful. If you feel you are under too much pressure or there are
psychological issues that are keeping you from performing well at Brown, I encourage you to
contact Brown’s Counseling and Psychological Services
(<a href="https://www.brown.edu/campus-life/support/counseling-and-psychological-services/">CAPS</a>).
They provide confidential counseling and can provide notes supporting extensions on assignments
for health reasons.</p>

<h5>Use of generative AI tools</h5>
<p>It goes without saying that a course on the ethics of digital technology must have a policy on the ethical use of generative AI tools in the course. We will critically examine the ideas and assumptions underlying this policy and the use if AI in education later during the semester and I am curious to see how our discussions of this issue will inform the course policy for future semesters. For this semester, you are required to adhere to the following policy for using generative AI tools.</p>

<p>Learning how to construct and communicate a thoughtful argument requires both reflective (coming up and organizing ideas) and writing-related practice. You will only build those skill by spending time on developing, organizing and working through the writing process. You will benefit from this practice even if (and when) you use generative AI tools for other tasks in and beyond this course. Therefore, the use of generative AI tools of any kind (including, but not limted to ChatGPT, Bard, GPT-4, ... ) is  <b>only acceptable in assignments which explicitly permit or call for them to be used.</b> </p>

<p>If generative AI tools are permitted to be used for an assignment, and you include material generated by an AI program, you must cite it like any other reference material (having checked its quality -- which may be poor -- just like you would for any other source). You may not submit any work generated by an AI program as your own.</p>

<p>If you have any questions about this policy, please talk to me before you start work on an assignment.</p>


<h5>Academic Integrity</h5>
<p>Beyond the provisions of the course policy on the use of generative AI, the Brown academic code applies: “Academic achievement is ordinarily evaluated on the basis of work that a student produces independently. Students who submit academic work that uses others’ ideas, words, research, or images without proper attribution and documentation are in violation of the academic code. Infringement of the academic code entails penalties ranging from reprimand to suspension, dismissal, or expulsion from the University.</p>

<p>“Brown students are expected to tell the truth. Misrepresentations of facts, significant omissions, or falsifications in any connection with the academic process (including change of course permits, the academic transcript, or applications for graduate training or employment) violate the code, and students are penalized accordingly. This policy also applies to Brown alums, insofar as it relates to Brown transcripts and other records of work at Brown.
</p>

<p>“Misunderstanding the code is not an excuse for dishonest work. Students who are unsure about any point of Brown’s academic code should consult their courses instructors or an academic dean, who will be happy to explain the policy.”</p>

<p>Please review the Brown Academic Code <a href="https://www.brown.edu/academics/college/degree/policies/ academic-code">here. </a></p>
